app-calendar {
    display: block;
    table {
        border-spacing: 1;
        tbody {
            tr {
                td {
                    text-align: center;
                    width: 30px;
                    padding: 3px;
                    background: #ecf7d3;
                    color: black;
                    &.weekend {
                        background: #fafb03;
                    }
                    &.invalid {
                        background: #ccccca;
                    }
                    &.heading {
                        text-align: center;
                    }
                    &.holiday {
                        background: #fe7906;
                    }
                }
            }
        }
    }
}