app-calendar {
    table {
        tbody {
            tr {
                td {
                    padding: 3px;
                    &.weekend {
                        color: white;
                        background: #333;
                    }
                    &.heading {
                        text-align: center;
                    }
                }
            }
        }
    }
}