app-root {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    mat-card {
        flex-basis: 50%;
    }
}

.calendar-viewport {
    height: 300px;
    width: 300px;
    overflow-y: auto;
    .calendar-viewport-item {
        height: 200px;
    }
}
