<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="avatar-icon">
      <mat-icon>calendar_today</mat-icon>
    </div>
    <mat-card-title>ProCalendar</mat-card-title>
    <mat-card-subtitle>Range Viewer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <div>
        <mat-form-field>
          <input matInput placeholder="Start Date" value="01/11/2019">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="End Date" value="02/11/2019">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Country Code" value="US">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>